<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>p5.js garally</title>
    <link href="./assets/css/index.css" rel="stylesheet">
</head>
<body>
    <div class="sketches">
        <% sketches.forEach(sketch => { %>
            <div>
                <a href="<%= sketch.title %>">
                  <img src="<%= sketch.thumbnailPath %>" class="sketch-thumbnail">
                </a>
            </div>
        <% }); %>
    </divul>
</body>
</html>
